CompileFlags:
  Add: [
    -Wall,
    -Wextra,
    -Wpedantic,
  ]

---

If:
	PathMatch: .*\.c
CompileFlags:
  Add: [-xc, -std=c23]

---

If:
	PathMatch: .*\.h
CompileFlags:
  Add: [-xc-header, -std=c23]
